<header class="header-style-2">


    <!-- Logo -->
    <div class="container">
        <div class="logo"><a href="#."><img src="https://i.loli.net/2018/12/28/5c2642b160370.png" alt=""></a></div>
    </div>

    <!-- Nav -->
    <div class="sticky">
        <div class="container">
            <!-- Nav -->
            <nav class="webimenu">
                <!-- MENU BUTTON RESPONSIVE -->
                <div class="menu-toggle"><i class="fa fa-bars"> </i></div>
                <ul class="ownmenu">
                    <li @@if (context.index==='active' ) { class="active" } ><a href="/debian/index.html">主页</a>
                    </li>
                    <li @@if (context.article==='active' ) { class="active sub-menu" }><a href="/debian/article.html">文章</a>
                    </li>
                    <li @@if (context.service==='active' ) { class="active sub-menu" }>
                        <a href="index.html">服务</a>
                        <ul class="dropdown">
                            <li class="sub-menu"><a href="05-about-us-01.html">api提供</a>
                                <ul class="dropdown">
                                    <li><a href="05-about-us-01.html">天气API</a></li>
                                </ul>
                            </li>
                            <li><a href="05-about-us-01.html">github仓库接入</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>